.centerForm {
    margin-left: 35%;
    margin-right: 20%;
}

.centerType {
    margin-left: 30%;
    margin-right: 30%;
}

.underline {
    text-decoration: underline;
    color: palevioletred;
}

.btnRegister {
    color: green;
    border: 1px solid greenyellow;
}

.btnRegistered {
    color: red;
}

.divOverCreadit {
    color: red;
    margin-left: 35%;
    margin-right: 20%;
}

.btnOverSlot {
    color: purple;
}

.rangeCredit {
    color: red;
    margin-left: 78%;
    margin-right: 5%;
}

.sizeIcon {
    width: 10px;
    height: 10px;
}

.btnSameSchedule {
    color: blue;
}

.paginate {
    margin-top: 10px;
}